{% extends "base.html" %}

{% block content %}
	<div class="book-detail">
		<div class="img-container">
			<img src="{{ book.picture.url }}" />
		</div>
		<h2>{{ book.name}}</h2>
		<p>{{ book.context}}</p>
		<p>written by  ({{book.authors}})</p>
	</div>
	<div class="book">
		<a href='{% url "rooms:book-rate" book.id %}'><button>Rate</button></a>
	</div>
	<div>
		<!-- rooms:book/<str:pk>/pdf/ -->
		<a href='{% url "rooms:show-pdf" book.id %}'>download pdf file</a>
	</div>
	<div class="book">
		<input type="text" name="score" value='{{book.name}}   score:   {{book.rate}} of 5 ' size=100px>
	</div>
{% endblock %}

